In [1]:
import pandas as pd

In [5]:
#create a series
ice_cream =['Reliance','Adani','TATA','Flipkart']
pd.Series(ice_cream)

0    Reliance
1       Adani
2        TATA
3    Flipkart
dtype: object

In [6]:
Numbers =[1,2,3,4,5,6]
pd.Series(Numbers)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
#series in dictionary

Letter ={"A":"B",
         "B":"c"}
pd.Series(Letter)

A    B
B    c
dtype: object

In [9]:
#into to attributes
Comapanies =['Reliance','Adani','TATA','Flipkart']
s = pd.Series(Comapanies)
s.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
s.values

array(['Reliance', 'Adani', 'TATA', 'Flipkart'], dtype=object)

In [11]:
s.dtype

dtype('O')

In [15]:
Numbers =[1,2,3,4,5,6]
a = pd.Series(Numbers)

In [16]:
a.sum()

21

In [17]:
a.product()

720

In [18]:
a.mean()

3.5

In [20]:
#parameter and arguments
fruits =['Apple','orange','plum']
weekdays=['Monday','Tuesday','wednesday']
pd.Series(data=fruits,index = weekdays)

Monday        Apple
Tuesday      orange
wednesday      plum
dtype: object

In [34]:
#read_csv
iris = pd.read_csv("E:\\Data sets\\iris.csv")

In [35]:
pd.read_csv("E:\\Data sets\\iris.csv",usecols=['variety'],squeeze=True)

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [36]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [37]:
iris.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [38]:
iris.tail(3)

     sepal.length  sepal.width  petal.length  petal.width    variety
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [39]:
len(iris)

150

In [40]:
dir(iris)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'variety',
 'where',
 'xs']

In [48]:
sorted(iris)

['petal.length', 'petal.width', 'sepal.length', 'sepal.width', 'variety']

In [49]:
iris.values

array([[5.1, 3.5, 1.4, 0.2, 'Setosa'],
       [4.9, 3.0, 1.4, 0.2, 'Setosa'],
       [4.7, 3.2, 1.3, 0.2, 'Setosa'],
       [4.6, 3.1, 1.5, 0.2, 'Setosa'],
       [5.0, 3.6, 1.4, 0.2, 'Setosa'],
       [5.4, 3.9, 1.7, 0.4, 'Setosa'],
       [4.6, 3.4, 1.4, 0.3, 'Setosa'],
       [5.0, 3.4, 1.5, 0.2, 'Setosa'],
       [4.4, 2.9, 1.4, 0.2, 'Setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Setosa'],
       [5.4, 3.7, 1.5, 0.2, 'Setosa'],
       [4.8, 3.4, 1.6, 0.2, 'Setosa'],
       [4.8, 3.0, 1.4, 0.1, 'Setosa'],
       [4.3, 3.0, 1.1, 0.1, 'Setosa'],
       [5.8, 4.0, 1.2, 0.2, 'Setosa'],
       [5.7, 4.4, 1.5, 0.4, 'Setosa'],
       [5.4, 3.9, 1.3, 0.4, 'Setosa'],
       [5.1, 3.5, 1.4, 0.3, 'Setosa'],
       [5.7, 3.8, 1.7, 0.3, 'Setosa'],
       [5.1, 3.8, 1.5, 0.3, 'Setosa'],
       [5.4, 3.4, 1.7, 0.2, 'Setosa'],
       [5.1, 3.7, 1.5, 0.4, 'Setosa'],
       [4.6, 3.6, 1.0, 0.2, 'Setosa'],
       [5.1, 3.3, 1.7, 0.5, 'Setosa'],
       [4.8, 3.4, 1.9, 0.2, 'Setosa'],
       [5.0, 3.0, 1.6, 0.2, 'Setosa'],
       [5.0, 3.4, 1.6, 0.4, 'Setosa'],
       [5.2, 3.5, 1.5, 0.2, 'Setosa'],
       [5.2, 3.4, 1.4, 0.2, 'Setosa'],
       [4.7, 3.2, 1.6, 0.2, 'Setosa'],
       [4.8, 3.1, 1.6, 0.2, 'Setosa'],
       [5.4, 3.4, 1.5, 0.4, 'Setosa'],
       [5.2, 4.1, 1.5, 0.1, 'Setosa'],
       [5.5, 4.2, 1.4, 0.2, 'Setosa'],
       [4.9, 3.1, 1.5, 0.2, 'Setosa'],
       [5.0, 3.2, 1.2, 0.2, 'Setosa'],
       [5.5, 3.5, 1.3, 0.2, 'Setosa'],
       [4.9, 3.6, 1.4, 0.1, 'Setosa'],
       [4.4, 3.0, 1.3, 0.2, 'Setosa'],
       [5.1, 3.4, 1.5, 0.2, 'Setosa'],
       [5.0, 3.5, 1.3, 0.3, 'Setosa'],
       [4.5, 2.3, 1.3, 0.3, 'Setosa'],
       [4.4, 3.2, 1.3, 0.2, 'Setosa'],
       [5.0, 3.5, 1.6, 0.6, 'Setosa'],
       [5.1, 3.8, 1.9, 0.4, 'Setosa'],
       [4.8, 3.0, 1.4, 0.3, 'Setosa'],
       [5.1, 3.8, 1.6, 0.2, 'Setosa'],
       [4.6, 3.2, 1.4, 0.2, 'Setosa'],
       [5.3, 3.7, 1.5, 0.2, 'Setosa'],
       [5.0, 3.3, 1.4, 0.2, 'Setosa'],
       [7.0, 3.2, 4.7, 1.4, 'Versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'Versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'Versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'Versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'Versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'Versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'Versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'Versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'Versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'Versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'Versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'Versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'Versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'Versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'Versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'Versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'Versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'Versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'Versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'Versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'Versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'Versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'Versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'Versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'Versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'Versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'Versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'Versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'Versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'Versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'Versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'Versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'Versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'Versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'Versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'Versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'Versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'Versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'Versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'Versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'Versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'Versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'Versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'Versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'Versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'Versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'Versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'Versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'Versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'Versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'Virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Virginica'],
       [7.1, 3.0, 5.9, 2.1, 'Virginica'],
       [6.3, 2.9, 5.6, 1.8, 'Virginica'],
       [6.5, 3.0, 5.8, 2.2, 'Virginica'],
       [7.6, 3.0, 6.6, 2.1, 'Virginica'],
       [4.9, 2.5, 4.5, 1.7, 'Virginica'],
       [7.3, 2.9, 6.3, 1.8, 'Virginica'],
       [6.7, 2.5, 5.8, 1.8, 'Virginica'],
       [7.2, 3.6, 6.1, 2.5, 'Virginica'],
       [6.5, 3.2, 5.1, 2.0, 'Virginica'],
       [6.4, 2.7, 5.3, 1.9, 'Virginica'],
       [6.8, 3.0, 5.5, 2.1, 'Virginica'],
       [5.7, 2.5, 5.0, 2.0, 'Virginica'],
       [5.8, 2.8, 5.1, 2.4, 'Virginica'],
       [6.4, 3.2, 5.3, 2.3, 'Virginica'],
       [6.5, 3.0, 5.5, 1.8, 'Virginica'],
       [7.7, 3.8, 6.7, 2.2, 'Virginica'],
       [7.7, 2.6, 6.9, 2.3, 'Virginica'],
       [6.0, 2.2, 5.0, 1.5, 'Virginica'],
       [6.9, 3.2, 5.7, 2.3, 'Virginica'],
       [5.6, 2.8, 4.9, 2.0, 'Virginica'],
       [7.7, 2.8, 6.7, 2.0, 'Virginica'],
       [6.3, 2.7, 4.9, 1.8, 'Virginica'],
       [6.7, 3.3, 5.7, 2.1, 'Virginica'],
       [7.2, 3.2, 6.0, 1.8, 'Virginica'],
       [6.2, 2.8, 4.8, 1.8, 'Virginica'],
       [6.1, 3.0, 4.9, 1.8, 'Virginica'],
       [6.4, 2.8, 5.6, 2.1, 'Virginica'],
       [7.2, 3.0, 5.8, 1.6, 'Virginica'],
       [7.4, 2.8, 6.1, 1.9, 'Virginica'],
       [7.9, 3.8, 6.4, 2.0, 'Virginica'],
       [6.4, 2.8, 5.6, 2.2, 'Virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Virginica'],
       [6.1, 2.6, 5.6, 1.4, 'Virginica'],
       [7.7, 3.0, 6.1, 2.3, 'Virginica'],
       [6.3, 3.4, 5.6, 2.4, 'Virginica'],
       [6.4, 3.1, 5.5, 1.8, 'Virginica'],
       [6.0, 3.0, 4.8, 1.8, 'Virginica'],
       [6.9, 3.1, 5.4, 2.1, 'Virginica'],
       [6.7, 3.1, 5.6, 2.4, 'Virginica'],
       [6.9, 3.1, 5.1, 2.3, 'Virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Virginica'],
       [6.8, 3.2, 5.9, 2.3, 'Virginica'],
       [6.7, 3.3, 5.7, 2.5, 'Virginica'],
       [6.7, 3.0, 5.2, 2.3, 'Virginica'],
       [6.3, 2.5, 5.0, 1.9, 'Virginica'],
       [6.5, 3.0, 5.2, 2.0, 'Virginica'],
       [6.2, 3.4, 5.4, 2.3, 'Virginica'],
       [5.9, 3.0, 5.1, 1.8, 'Virginica']], dtype=object)

In [50]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [54]:
iris.shape

(150, 5)

In [51]:
iris.ndim

2

In [57]:
iris = pd.read_csv("E:\\Data sets\\iris.csv",usecols=['variety'],squeeze=True)

In [58]:
iris.sort_values().head()

0     Setosa
27    Setosa
28    Setosa
29    Setosa
30    Setosa
Name: variety, dtype: object

In [60]:
iris.head(3)

0    Setosa
1    Setosa
2    Setosa
Name: variety, dtype: object

In [66]:
iris.sort_values(ascending=False,inplace=True)

In [67]:
iris.head(3)

149    Virginica
141    Virginica
137    Virginica
Name: variety, dtype: object

In [68]:
iris.sort_values()

0         Setosa
29        Setosa
30        Setosa
31        Setosa
32        Setosa
         ...
121    Virginica
100    Virginica
110    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [69]:
iris.sort_index()

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [71]:
#python key word
"Virginica" in iris

#as it compares with index it returns False

False

In [73]:
"Virginica" in iris.values

True

In [74]:
#extarct series values ny index
iris[1]

'Setosa'

In [75]:
iris[[1,2,43,4]]

1     Setosa
2     Setosa
43    Setosa
4     Setosa
Name: variety, dtype: object

In [76]:
iris[30:80]

120     Virginica
119     Virginica
118     Virginica
117     Virginica
116     Virginica
115     Virginica
114     Virginica
113     Virginica
148     Virginica
111     Virginica
123     Virginica
105     Virginica
102     Virginica
103     Virginica
104     Virginica
101     Virginica
106     Virginica
107     Virginica
108     Virginica
109     Virginica
50     Versicolor
52     Versicolor
53     Versicolor
54     Versicolor
55     Versicolor
56     Versicolor
57     Versicolor
58     Versicolor
59     Versicolor
60     Versicolor
61     Versicolor
67     Versicolor
63     Versicolor
64     Versicolor
65     Versicolor
66     Versicolor
73     Versicolor
68     Versicolor
69     Versicolor
70     Versicolor
71     Versicolor
72     Versicolor
62     Versicolor
51     Versicolor
74     Versicolor
85     Versicolor
89     Versicolor
84     Versicolor
83     Versicolor
82     Versicolor
Name: variety, dtype: object

In [171]:
#extarct series values by index label
iris1 = pd.read_csv("E:\\Data sets\\iris.csv",index_col="variety",squeeze=True)

In [172]:
iris1

           sepal.length  sepal.width  petal.length  petal.width
variety
Setosa              5.1          3.5           1.4          0.2
Setosa              4.9          3.0           1.4          0.2
Setosa              4.7          3.2           1.3          0.2
Setosa              4.6          3.1           1.5          0.2
Setosa              5.0          3.6           1.4          0.2
...                 ...          ...           ...          ...
Virginica           6.7          3.0           5.2          2.3
Virginica           6.3          2.5           5.0          1.9
Virginica           6.5          3.0           5.2          2.0
Virginica           6.2          3.4           5.4          2.3
Virginica           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [90]:
iris1.sort_index(inplace=True)

In [91]:
iris1.head()

         sepal.length  sepal.width  petal.length  petal.width
variety
Setosa            5.1          3.5           1.4          0.2
Setosa            4.9          3.0           1.4          0.2
Setosa            4.7          3.2           1.3          0.2
Setosa            4.6          3.1           1.5          0.2
Setosa            5.0          3.6           1.4          0.2

In [92]:
iris.get(0)

'Setosa'

In [102]:
iris1.get(key='sepal.length',default ="this is not a KEY")

variety
Setosa       5.1
Setosa       4.9
Setosa       4.7
Setosa       4.6
Setosa       5.0
            ...
Virginica    6.7
Virginica    6.3
Virginica    6.5
Virginica    6.2
Virginica    5.9
Name: sepal.length, Length: 150, dtype: float64

In [103]:
iris1.get(key='VINEET',default ="this is not a KEY")

'this is not a KEY'

In [128]:
#MATH METHODS
iris1 = pd.read_csv("E:\\Data sets\\iris.csv",index_col="variety",squeeze=True)

TypeError: parser_f() got an unexpected keyword argument 'index_cols'

In [109]:
iris1.count()

sepal.length    150
sepal.width     150
petal.length    150
petal.width     150
dtype: int64

In [112]:
iris.sum()

'VirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosa'

In [113]:
iris.sum()

'VirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVirginicaVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorVersicolorSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosaSetosa'

In [114]:
iris.describe()

count        150
unique         3
top       Setosa
freq          50
Name: variety, dtype: object

In [144]:
a = pd.read_csv("E:\\Data sets\\iris.csv",usecols=['sepal.width'],squeeze=True)

In [145]:
a.head(3)

0    3.5
1    3.0
2    3.2
Name: sepal.width, dtype: float64

In [146]:
def classify_performance(number):
    if number <300:
        return "ok"
    else:
        return "inc"

In [147]:
a.apply(classify_performance)

0      ok
1      ok
2      ok
3      ok
4      ok
       ..
145    ok
146    ok
147    ok
148    ok
149    ok
Name: sepal.width, Length: 150, dtype: object

In [152]:
a.apply(lambda sepal_width: sepal_width +1)

0      4.5
1      4.0
2      4.2
3      4.1
4      4.6
      ...
145    4.0
146    3.5
147    4.0
148    4.4
149    4.0
Name: sepal.width, Length: 150, dtype: float64

In [153]:
#see count of unique values
a.value_counts()

3.0    26
2.8    14
3.2    13
3.4    12
3.1    11
2.9    10
2.7     9
2.5     8
3.5     6
3.8     6
3.3     6
2.6     5
2.3     4
3.6     4
2.4     3
2.2     3
3.7     3
3.9     2
4.2     1
4.1     1
4.4     1
2.0     1
4.0     1
Name: sepal.width, dtype: int64

In [166]:
#map method

iris = pd.read_csv("E:\\Data sets\\iris.csv",usecols=['sepal.width'],squeeze=True)

In [167]:
a.head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal.width, dtype: float64

In [170]:
a2= pd.read_csv("E:\\Data sets\\iris.csv",index_col='sepal.width',squeeze=True)
a2.head()

             sepal.length  petal.length  petal.width variety
sepal.width
3.5                   5.1           1.4          0.2  Setosa
3.0                   4.9           1.4          0.2  Setosa
3.2                   4.7           1.3          0.2  Setosa
3.1                   4.6           1.5          0.2  Setosa
3.6                   5.0           1.4          0.2  Setosa

In [173]:

s = pd.Series([1,2,3])
s.sum()

6

In [176]:
a2.sum(axis=1).head()

sepal.width
3.5    6.7
3.0    6.5
3.2    6.2
3.1    6.3
3.6    6.6
dtype: float64